@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: 'VT323', monospace;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
    margin: 0 0 10px 0;
}

h3 {
    font-size: 18px;
    padding: 5px;
    margin: 5px;
}

.rfloat {
    float: right;
}

.lfloat {
    float: left;
}

.top-operations {
    float: right;
    font-size: 14px;
    fint-weight: bold;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.selected {
    border-bottom: 2px solid;
    font-weight: bold;
}

.scroll {
    overflow: auto;
}

.no-scroll {
    overflow: hidden;
}

.border {
    border-style: solid;
    border-width: 2px;
}

.panel {
    overflow-y: scroll;
    height: 100%;
    background-color: white;
    scrollbar-color: black white;
    scrollbar-width: auto;
}

.panel::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.panel::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
.panel::-webkit-scrollbar-thumb {
    background: #000;
}

/* Handle on hover */
.panel::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.panel-bottom {
    height: 50px;
}

#controls {
    width: 100%;
    position: fixed;
    bottom: 0;
}

#menu-button {
    float: left;
    width: 40px;
    height: 40px;
    background-color: white;
    border-top: solid 2px;
    border-bottom: solid 2px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    curosr: pointer;
}

#player {
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    float: left;
    border-top: solid 2px;
    border-bottom: solid 2px;
}

.tag {
    font-size: 18px;
    font-weight: normal;
    background-color: white;
    padding: 5px;
    margin: 5px 10px 5px 10px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

.add-tag {
    font-size: 18px;
    width: calc(100% - 20px);
    font-weight: normal;
    color: #aaa;
    padding: 5px;
    margin: 5px 10px 5px 10px;
    border-style: solid;
    border-color: #aaa;
    border-width: 2px;
}

.add-tag:focus {
    color: black;
    border-color: black;
    outline: none;
}

.file {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px 5px 5px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}

.file-hover {
    font-size: 18px;
    font-weight: bold;
    padding: 3px 8px 3px 3px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
}

.dir {
    font-size: 18px;
    font-weight: normal;
    padding: 5px 10px 5px 5px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}

.dir-hover {
    font-size: 18px;
    font-weight: normal;
    padding: 3px 8px 3px 3px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
}
