body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#player {
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    float: left;
    border-top: solid 2px;
    border-bottom: solid 2px;
}

.tag {
    font-size: 18px;
    font-weight: normal;
    background-color: white;
    padding: 5px;
    margin: 5px 10px 5px 10px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

.add-tag {
    font-size: 18px;
    width: calc(100% - 20px);
    font-weight: normal;
    color: #aaa;
    padding: 5px;
    margin: 5px 10px 5px 10px;
    border-style: solid;
    border-color: #aaa;
    border-width: 2px;
}

.add-tag:focus {
    color: black;
    border-color: black;
    outline: none;
}

.file {
    font-size: 18px;
    font-weight: normal;
    padding: 2px;
    margin: 5px 10px 15px 10px;
    cursor: pointer;
}

.file-hover {
    border-style: solid;
    border-width: 2px;
    padding: 0px;
}

.dir {
    font-size: 18px;
    font-weight: normal;
    padding: 5px 10px 5px 5px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}

.dir-hover {
    font-size: 18px;
    font-weight: normal;
    padding: 3px 8px 3px 3px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
}
